<span class="text-xl gap-x-1 py-2">
  Intro
</span>

<div class="text-base pb-4 ml-8">
  <p class="text-justify">
    Welcome to the fragile.city infopedia! This page contains infomation about elements used in the game.
  </p>
   <br />
  <p class="text-justify">Click on one of the links on the left side of the page to navigate.</p>
</div>
