<div class="top-0 p-1 px-2 z-20 bg-amber-50 border-b border-neutral-800 flex space-x-3 w-screen overflow-x-scroll shrink-0 leading-tight">
  <table class="self-end mr-auto align-bottom">
    <tr>
      <td class="top_td">
        <span class="flex flex-row items-center gap-x-1">
          <%= @city.title %>
          <%= if @city.patron > 0 do %>
            <div class="group relative flex flex-row items-center text-amber-600">
              <a href="patreon.com/user?u=88349213" target="_blank">
                <img src="/images/patron-1.svg" alt="patron" height="12" width="12" />
              </a>
              <div class="tooltip w-72 top-[-6px] left-4">
                This city supports fragile.city on patreon and keeps the servers from going down
              </div>
            </div>
          <% end %>
          <%= if @city.contributor do %>
            <div class="group relative flex flex-row items-center text-purple-600">
              <a href="https://github.com/warronbebster/mayor_game" target="_blank">
                <img src="/images/computer.svg" alt="contributor" height="12" width="12" />
              </a>
              <div class="tooltip w-72 top-[-6px] left-4">
                This city has helped build the fragile.city codebase
              </div>
            </div>
          <% end %>
        </span>
      </td>
      <td class="top_td">
        Year
      </td>
      <td class="top_td">
        Day
      </td>
      <td class="top_td">
        Season
      </td>
      <td class="top_td">Citizens</td>
    </tr>
    <tr>
      <td class="top_td">
        <%= @username %>
      </td>
      <td class="top_td">
        <%= div(@world.day, 365) %>
      </td>
      <td class="top_td">
        <%= rem(@world.day, 365) %>
      </td>
      <td class="top_td">
        <span class="first-letter:uppercase"><%= @season %></span>
      </td>
      <td class="top_td">
        <%= @city_stats.total_citizens %>
      </td>
    </tr>
  </table>

  <table class="self-start mr-auto align-bottom flex-shrink overflow-visible">
    <tr>
      <td class="group relative h-4 top_td text-purple-600 ">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/pollution.svg" alt="total area" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full text-purple-600">
          Pollution
        </div>
      </td>

      <td class="group relative h-4 top_td text-amber-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/housing.svg" alt="total area" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full text-amber-600">
          Housing
        </div>
      </td>
      <td class="group relative h-4 top_td text-green-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img
            src="/images/workers-fulfilled.svg"
            alt="total workers"
            height="12"
            width="12"
            class="inline"
          />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full text-green-600">
          Jobs
        </div>
      </td>
      <td class="group relative h-4 top_td text-green-600">
        <div class="flex items-center w-full pr-2">
          <img src="/images/plus.svg" alt="plus" height="12" width="12" class="inline" />
          <img
            src="/images/money-fulfilled.svg"
            alt="total area"
            height="12"
            width="12"
            class="inline"
          />
        </div>
        <div class="tooltip top-0 left-0 w-32 -translate-x-full text-green-600">
          Daily Tax Income
        </div>
      </td>
      <td class="group relative h-4 top_td text-red-600">
        <div class="flex items-center w-full pr-2">
          <img src="/images/minus.svg" alt="minus" height="12" width="12" class="inline" />
          <img src="/images/money-off.svg" alt="daily cost" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 w-24 -translate-x-full text-red-600">
          Daily Cost
        </div>
      </td>
      <td class="group relative h-4 top_td text-green-600">
        <div class="flex items-center w-full pr-2">
          <img
            src="/images/money-fulfilled.svg"
            alt="total area"
            height="12"
            width="12"
            class="inline"
          />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full">
          Money
        </div>
      </td>
      <td class="group relative h-4 top_td text-yellow-600">
        <div class="flex items-center w-full pr-2">
          <img src="/images/energy.svg" alt="total energy" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Energy
        </div>
      </td>
      <td class="group relative h-4 top_td text-cyan-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/area.svg" alt="total area" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Area
        </div>
      </td>
      <td class="group relative h-4 top_td text-fuchsia-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/fun.svg" alt="total fun" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full">
          Fun
        </div>
      </td>
      <td class="group relative h-4 top_td text-rose-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/health.svg" alt="total health" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Health
        </div>
      </td>
      <td class="group relative h-4 top_td text-slate-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/steel.svg" alt="total steel" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Steel
        </div>
      </td>
      <td class="group relative h-4 top_td text-orange-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/sulfur.svg" alt="total sulfur" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full">
          Sulfur
        </div>
      </td>
      <td class="group relative h-4 top_td text-violet-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/uranium.svg" alt="total uranium" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full">
          Uranium
        </div>
      </td>
      <td class="group relative h-4 top_td text-red-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/might.svg" alt="total missiles" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Missiles
        </div>
      </td>
      <td class="group relative h-4 top_td text-blue-600">
        <div class="flex gap-1 items-center w-full pr-2">
          <img src="/images/shields.svg" alt="total might" height="12" width="12" class="inline" />
        </div>
        <div class="tooltip top-0 left-0 -translate-x-full ">
          Shields
        </div>
      </td>
    </tr>
    <tr>
      <td class="top_td">
        <span class="text-purple-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:pollution) |> MayorGame.City.ResourceStatistics.expressNetProduction_SI()
           %>/day
        </span>
      </td>

      <td class="top_td">
        <span class="text-amber-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:housing) |> MayorGame.City.ResourceStatistics.expressAvailableOverSupply_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-green-800">
          <%= Enum.sum(Map.values(@city_stats.jobs_by_level)) - Enum.sum(Map.values(@city_stats.employed_citizen_count_by_level)) %>/<%= Enum.sum(Map.values(@city_stats.jobs_by_level)) %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-green-800">
          $<%= @city_stats |> MayorGame.City.TownStatistics.getResource(:money) |> MayorGame.City.ResourceStatistics.expressProduction_SI()
           %>/day
        </span>
      </td>
      <td class="top_td">
        <span class="text-red-800">
          $<%= @city_stats |> MayorGame.City.TownStatistics.getResource(:money) |> MayorGame.City.ResourceStatistics.expressConsumption_SI()
           %>/day
        </span>
      </td>
      <td class="top_td">
        <span class="text-green-800">
          $<%= @city_stats |> MayorGame.City.TownStatistics.getResource(:money) |> MayorGame.City.ResourceStatistics.expressStock_SI(-@construction_cost)
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-yellow-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:energy) |> MayorGame.City.ResourceStatistics.expressAvailableOverSupply_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-cyan-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:area) |> MayorGame.City.ResourceStatistics.expressAvailableOverSupply_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-fuchsia-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:fun) |> MayorGame.City.ResourceStatistics.expressNetProduction_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-rose-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:health) |> MayorGame.City.ResourceStatistics.expressNetProduction_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-slate-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:steel) |> MayorGame.City.ResourceStatistics.expressStock_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-orange-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:sulfur) |> MayorGame.City.ResourceStatistics.expressStock_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-purple-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:uranium) |> MayorGame.City.ResourceStatistics.expressStock_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-red-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:missiles) |> MayorGame.City.ResourceStatistics.expressStockOverStorage_SI()
           %>
        </span>
      </td>
      <td class="top_td">
        <span class="text-blue-800">
          <%= @city_stats |> MayorGame.City.TownStatistics.getResource(:shields) |> MayorGame.City.ResourceStatistics.expressStockOverStorage_SI()
           %>
        </span>
      </td>
    </tr>
  </table>
  <div class="flex flex-row space-x-3">
    <%= if @current_user && @current_user.id == 1 do %>
      <button
        class="btn text-xs p-0 border-none"
        phx-click="gib_money"
        phx-value-userid={@current_user.id}
        phx-throttle="100"
      >
        +$
      </button>
      <button
        class="btn text-xs p-0 border-none"
        phx-click="add_citizen"
        phx-throttle="100"
        phx-value-name="name"
        phx-value-userid={@current_user.id}
      >
        +citizen
      </button>
    <% end %>
  </div>
</div>
<!-- END HEADER ——————————————————————————————————————————— -->
<div class="flex flex-row flex-wrap relative h-full w-screen overflow-x-hidden overflow-y-scroll ">
  <div class="px-3 my-0 flex flex-col grow">
    <!--Taxes-->
    <!--All building details-->
    <h2 class="text-base pt-2 pb-1">
      Job/tax levels
    </h2>
    <div class="flex flex-row flex-wrap gap-x-8 gap-y-4 divide-solid leading-none">
      <%= for {job_level, rate} <- @city.tax_rates do %>
        <div class="flex flex-col gap-1">
          <span class="text-sm">Level <%= job_level %></span>
          <%= if @is_user_mayor do %>
            <div class="flex flex-col gap-1">
              tax rate
              <input
                class="btn text-sm bg-amber-50 p-[2px] border leading-none border-neutral-800/25"
                step="0.01"
                phx-blur="update_tax_rates"
                type="number"
                min="0"
                max="1"
                value={rate}
                phx-value-job_level={job_level}
              />
            </div>
          <% else %>
            <%= rate %>
          <% end %>
          <!--print citizen count at level-->
          <div>
            <%= if @city_stats.citizen_count_by_level[String.to_integer(job_level)] !== nil do %>
              <%= @city_stats.citizen_count_by_level[String.to_integer(job_level)] %>
            <% else %>
              0
            <% end %>
            citizens
          </div>
          <!--print job count at level-->
          <div>
            <%= if @city_stats.jobs_by_level[String.to_integer(job_level)] !== nil do %>
              <%= to_string(@city_stats.jobs_by_level[String.to_integer(job_level)]) %>
            <% else %>
              0
            <% end %>
            total jobs
          </div>
          <div>
            <%= if @city_stats.vacancies_by_level[String.to_integer(job_level)] !== nil do %>
              <%= to_string(@city_stats.vacancies_by_level[String.to_integer(job_level)]) %>
            <% else %>
              0
            <% end %>
            available jobs
          </div>
        </div>
      <% end %>
    </div>
    <!-- TRADE FORM -->

      <%= if !@is_user_mayor && !is_nil(@current_user) do %>
        <div class="flex-row items-center">
          <h2 class="text-base pt-4 pb-1">
            Send Resources
          </h2>
            <.form let={f} for={@trade_set} id="trade-form" phx_submit="trade" phx_change="validate_trade">
              <!-- <%= if @trade_set.action do %>
                <div class="alert alert-danger">
                  uh oh, something's up! <%= @trade_set.action %>
                </div>
              <% end %> -->

              <%= number_input(f, :amount,
                required: true,
                placeholder: "amount",
                min: 0
              ) %>
              <%= error_tag(f, :amount) %>

              <%= select(f, :resource, @resources,
                required: true,
                prompt: "Select a resource"
              ) %>
              <%= error_tag(f, :resource) %>

              <%= submit("Send") %>
            </.form>
        </div>
      <% end %>

    <!-- COMBAT -->
    <div class="space-y-1">
      <h2 class="text-base pt-4 pb-1">
        Combat
      </h2>
      <%= if @is_user_mayor do %>
        <div class="flex flex-row space-x-1 align-middle">
          <input type="checkbox" checked={@city.retaliate} phx-click="toggle_retaliate">

          <div class="group relative flex-shrink self-start">
            <span class="first-letter:uppercase underline underline-offset-4 decoration-neutral-800/40 decoration-dotted	cursor-help">
              Retaliate
            </span>
            <div class="tooltip min-w-[240px]">
              When checked, you will automatically respond to attacks on your shields by attacking the city that attacked you.
            </div>
          </div>
        </div>
      <% end %>

      <%= if !@is_user_mayor && !is_nil(@current_user) do %>

        <%= if @current_user.town.attacks_sent |> Enum.map(& &1.attack_count) |> Enum.sum() < @current_user.town.air_bases do %>
          <button
            class="btn m-0 rounded-none border border-neutral-800/25 leading-none h-6 self-start"
            phx-click="commence_attack"
            phx-throttle="200"
          >
            Commence attack
          </button>
        <% else %>
          <button
            disabled
            class="opacity-50 btn m-0 rounded-none border border-neutral-800/25 leading-none h-6 self-start"
            phx-click="commence_attack"
            phx-throttle="200"
          >
            Not enough air bases to commence attack
          </button>
        <% end %>

        
        <%= for ongoing_attack <- @city.attacks_recieved do %>
          <div class="flex flex-row items-center gap-2">
          <span class="underline">
            <%= link(ongoing_attack.attacking.title,
            to: Routes.city_path(@socket, MayorGameWeb.CityLive, ongoing_attack.attacking.title)
          ) %></span> is attacking with <%= ongoing_attack.attack_count %> missiles/day

            <%= if ongoing_attack.attacking_id == @current_user.town.id do %>
              <button
                class="btn m-0 rounded-none border border-neutral-800/25 leading-none h-6"
                phx-click="reduce_attack"
                phx-throttle="200"
              >
                Reduce attack
              </button>
            <% end %>

          </div>
        <% end %>


       

      <% end %>
    </div>
    <!-- end of combat -->

    <%= for {category, buildings} <- @buildables do %>
      <div class="group relative flex-shrink self-start">
        <h2 class="text-base pt-4 first-letter:uppercase underline underline-offset-4 decoration-neutral-800/40 decoration-dotted	cursor-help">
          <%= category %>
        </h2>
        <div class="tooltip min-w-[240px]">
          <%= @category_explanations[category] %>
        </div>
      </div>
      <div class="divide-y divide-neutral-800/10">
        <%= for {building_type, building_stats} <- buildings do %>
        <%= if {Map.has_key?(building_stats, :region) && Enum.member?(building_stats.region, @city.region)} do %>
          <div class="flex flex-wrap items-center gap-1 py-0.5">
            <div class="basis-full md:basis-80 flex flex-row items-center justify-between">
              <!-- building title -->
              <div class="group relative inline-block">
                <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
                  <%= building_type %>
                </h3>
                <div class="tooltip w-48">
                  <%= for {building_stat, value} <- building_stats do %>
                    <%= if !String.contains?(Atom.to_string(building_stat), ["multipliers", "price", "purchasable", "produces", "requires", "stores", "enabled", "priority", "reason", "title", "category", "level", "regions"]) && value != nil do %>
                      <div class="flex items-center gap-1">
                        <div class=""><%= building_stat %></div>
                        <hr class="border-neutral-800 flex-1" />
                        <%= value %>
                      </div>
                    <% end %>
                  <% end %>
                  <%= if building_stats.requires != nil do %>
                    <span class="font-semibold">Requires:</span>
                    <%= for {requires_type, value} <- building_stats.requires do %>
                      <%= if is_number(value) do %>
                        <div class="flex items-center gap-1">
                          <div class=""><%= String.replace(to_string(requires_type), "_", " ") %></div>
                          <hr class="border-neutral-800 flex-1" />
                          <%= to_string(value) %>
                        </div>
                      <% else %>
                        <%= if requires_type == :workers do %>
                          <div class="flex items-center gap-1">
                            <div class="">
                              lvl <%= to_string(value.level) <> " " <> String.replace(to_string(requires_type), "_", " ") %>
                            </div>
                            <hr class="border-neutral-800 flex-1" />
                            <%= to_string(value.count) %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <%= if building_stats.produces != nil do %>
                    <span class="font-semibold">Produces:</span>
                    <%= for {produces_type, value} <- building_stats.produces do %>
                      <%= if is_number(value) do %>
                        <div class="flex items-center gap-1">
                          <div class=""><%= String.replace(to_string(produces_type), "_", " ") %></div>
                          <hr class="border-neutral-800 flex-1" />
                          <%= to_string(round(value)) %>
                          <%= if value != building_stats.actual_produces[produces_type] do %>
                            (<%= if value < building_stats.actual_produces[produces_type] do
                              "+"
                            end %><%= to_string(
                              round(building_stats.actual_produces[produces_type] - value)
                            ) %>)
                          <% end %>
                        </div>
                      <% else %>
                        <%= if is_function(value, 1) && produces_type == :pollution do %>
                            <div class="flex items-center gap-1">
                              <div class=""><%= String.replace(to_string(produces_type), "_", " ") %> per pop</div>
                              <hr class="border-neutral-800 flex-1" />
                              <%= value.(1) %>
                              <%= if value.(1) != building_stats.actual_produces[produces_type].(1) do %>
                                (<%= if value.(1) <
                                          building_stats.actual_produces[produces_type].(1) do
                                  "+"
                                end %><%= to_string(
                                  round(
                                    building_stats.actual_produces[produces_type].(1) - value.(1)
                                  )
                                ) %>)
                              <% end %>
                            </div>
                        <% else %>
                          <%= if is_function(value, 2) do %>
                            <div class="flex items-center gap-1">
                              <div class=""><%= String.replace(to_string(produces_type), "_", " ") %></div>
                              <hr class="border-neutral-800 flex-1" />
                              random drop
                            </div>
                          <% end %>
                        <% end %>
                        <%= if is_map(value) do %>
                            <div class="flex items-center gap-1">
                            <div class=""><%= String.replace(to_string(produces_type), "_", " ") %></div>
                            <hr class="border-neutral-800 flex-1" />
                            <%= to_string(hd(Map.keys(value))) %> /
                            <%= to_string(hd(Map.values(value))) %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <%= if building_stats.stores != nil do %>
                    <span class="font-semibold">Stores:</span>
                    <%= for {stores_type, value} <- building_stats.stores do %>
                      <%= if is_number(value) do %>
                        <div class="flex items-center gap-1">
                          <div class=""><%= String.replace(to_string(stores_type), "_", " ") %></div>
                          <hr class="border-neutral-800 flex-1" />
                          <%= to_string(round(value)) %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <!-- build & delete buttons -->
              <div class="flex flex-row ">
                <%= if @is_user_mayor do %>
                  <%= if @city_stats |> MayorGame.City.TownStatistics.getResource(:money) |> MayorGame.City.ResourceStatistics.getStock(-@construction_cost) > building_stats.price do %>
                    <button
                      class="btn m-0 rounded-none border border-neutral-800/25 leading-none h-6"
                      phx-click="purchase_building"
                      phx-throttle="200"
                      phx-value-building={building_type}
                    >
                      $<%= Number.SI.number_to_si(
                           building_stats.price,
                            precision: 3,
                            trim: true
                          ) %>
                    </button>
                  <% else %>
                    <div class="group relative inline-block">
                      <button
                        disabled
                        class="opacity-50 rounded-none m-0 border border-neutral-800/25 leading-none h-6"
                      >
                       $<%= Number.SI.number_to_si(
                           building_stats.price,
                            precision: 3,
                            trim: true
                          ) %>
                      </button>
                      <div class="tooltip w-28">not enough money</div>
                    </div>
                  <% end %>
                  <%= if (@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).number + (if !is_nil(@construction_count[building_type]) do @construction_count[building_type] else 0 end) > 0 do %>
                    <button
                      phx-click="demolish_building"
                      class="btn m-0 rounded-none border border-l-0 border-neutral-800/25 leading-none h-6"
                      phx-throttle="300"
                      phx-value-building={building_type}
                    >
                      -1
                    </button>
                  <% else %>
                    <button
                      disabled
                      class="opacity-50 m-0 rounded-none border border-l-0 border-neutral-800/25 leading-none h-6"
                    >
                      -1
                    </button>
                  <% end %>
                  <div class="relative group pl-2 flex items-center">

                      <img
                        src="/images/priority.svg"
                        alt="priority sort"
                        height="12"
                        width="12"
                      />
                    <div class="tooltip w-32">Sort the order that you want your buildings to activate. Lower numbers fill first.</div>
                  </div>
                  <input
                class="btn ml-1 text-sm bg-amber-50 p-[2px] border leading-none w-10 border-neutral-800/25"
                step="1"
                phx-blur="update_priorities"
                type="number"
                min="0"
                max="100"
                value={@city.priorities[to_string(building_type)]}
                phx-value-building_type={building_type}
              />
                <% end %>
                <%= if @current_user && !is_nil(@current_user.town) && !@is_user_mayor do %>
                  <%= if Map.get(@operating_count, building_type, 0) != 0 && @current_user.town.missiles > 0 do %>
                    <%= if @city_stats |> MayorGame.City.TownStatistics.getResource(:shields) |> MayorGame.City.ResourceStatistics.getStock() == 0 do %>
                      <div class="relative group">
                        <button
                          phx-click="attack_building"
                          class="btn m-0 rounded-none border border-neutral-800/25 leading-none h-6"
                          phx-throttle="300"
                          phx-value-building={building_type}
                        >
                          <img
                            src="/images/might-text.svg"
                            alt="has enough missiles to attack"
                            height="12"
                            width="12"
                          />
                        </button>
                        <div class="tooltip w-32 right-4 -translate-x-full -translate-y-8">
                          Attack this building (1/<%= @current_user.town.missiles %> missiles left)
                        </div>
                      </div>
                    <% else %>
                      <div class="relative group">
                        <button
                          disabled
                          class="opacity-50 m-0 rounded-none border border-neutral-800/25 leading-none h-6"
                        >
                          <img
                            src="/images/might-text.svg"
                            alt="still has shields"
                            height="12"
                            width="12"
                          />
                        </button>
                        <div class="tooltip w-32">
                          You need to take down the city's shields first
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="relative group">
                      <button
                        disabled
                        class="opacity-50 m-0 rounded-none border border-neutral-800/25 leading-none h-6"
                      >
                        <img
                          src="/images/might-text.svg"
                          alt="not enough missiles to attack"
                          height="12"
                          width="12"
                        />
                      </button>
                      <div class="tooltip w-32">not enough missiles</div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="flex flex-row flex-wrap gap-2 justify-between flex-grow">
              <!-- Enabled counts -->
              <table border="1" class=" table-fixed border-collapse">
                <tr>
                  <!-- if no buildings -->
                  <%= if (@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).number == 0 && (if !is_nil(@construction_count[building_type]) do @construction_count[building_type] else 0 end) == 0 do %>
                    <td class="cell text-neutral-800/50">0</td>
                  <% else %>
                    <%= if (@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).operational > 0 do %>
                      <td class="group cell bg-green-100">
                        <div class="flex flex-row items-center gap-x-1 cursor-help">
                          <p class="text-green-700">
                            <%= Number.Delimit.number_to_delimited((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).operational) %>
                          </p>
                          <%= for requirement <- @building_requirements do %>
                            <%= if building_stats.requires[String.to_existing_atom(requirement)] != nil && building_stats.requires[String.to_existing_atom(requirement)] > 0 do %>
                              <img
                                src={"/images/#{to_string(requirement)}-fulfilled.svg"}
                                alt={"has enough #{to_string(requirement)} to operate"}
                                height="12"
                                width="12"
                              />
                            <% end %>
                          <% end %>
                          <div class="tooltip text-green-600">operational</div>
                        </div>
                      </td>
                    <% end %>
                    <%= if !is_nil((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next) && length((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next) > 0 do %>
                      <td class={
                        "group cell bg-red-50"
                      }>
                        <div class="flex flex-row items-center gap-x-1 cursor-help">
                          <p class="text-red-700">
                            <%= Number.Delimit.number_to_delimited((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).number - (@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).operational) %>
                          </p>
                          <%= for requirement <- @building_requirements do %>
                            <%= if building_stats.requires[String.to_existing_atom(requirement)] != nil && building_stats.requires[String.to_existing_atom(requirement)] > 0 && !Enum.member?((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next, String.to_existing_atom(requirement)) do %>
                              <img
                                src={"/images/#{to_string(requirement)}-fulfilled.svg"}
                                alt={"has enough #{to_string(requirement)} to operate"}
                                height="12"
                                width="12"
                              />
                            <% else %>
                              <%= if Enum.member?((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next, String.to_existing_atom(requirement)) do %>
                                <img
                                  src={"/images/#{to_string(requirement)}-off.svg"}
                                  alt={"requires #{to_string(requirement)} to operate"}
                                  height="12"
                                  width="12"
                                />
                              <% end %>
                            <% end %>
                          <% end %>

                          <div class="tooltip w-32 text-red-600">
                            needs
                            <%= if length((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next) > 1 do %>
                              <%= for operation_reason <- (@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next do %>
                                <%= operation_reason %>,
                              <% end %>
                            <% else %>
                              <%= hd((@city_stats |> MayorGame.City.TownStatistics.getBuildable(building_type)).deficient_prereq_next) %>
                            <% end %>
                            to operate
                          </div>
                        </div>
                      </td>
                    <% end %>
                    <%= if !is_nil(@construction_count[building_type]) do %>
                      <%= if @construction_count[building_type] > 0 do %>
                        <td class="group cell bg-green-100">
                          <div class="flex flex-row items-center gap-x-1 cursor-help">
                            <p class="text-green-700">
                              <%= Number.Delimit.number_to_delimited(@construction_count[building_type]) %>
                            </p>
                            <span class="text-green-600">building…</span>
                          </div>
                        </td>
                      <% end %>
                      <%= if @construction_count[building_type] < 0 do %>
                        <td class="group cell bg-red-100">
                          <div class="flex flex-row items-center gap-x-1 cursor-help">
                            <p class="text-red-700">
                              <%= Number.Delimit.number_to_delimited(-@construction_count[building_type]) %>
                            </p>
                            <span class="text-red-600">demolishing…</span>
                          </div>
                        </td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              </table>
              <!-- for each operating building, multiply by energy, workers_required, area -->
              <div class="flex flex-row flex-wrap gap-[2px] items-center">
                <%= if !is_nil(Map.get(@city_stats.buildable_stats, building_type)) && Map.get(@city_stats.buildable_stats, building_type).operational > 0 do %>
                  <%= for {subtotal_type, append_class} <- @subtotal_types do %>
                    <!-- produced -->
                    <%= if !is_nil(building_stats.actual_produces) && Map.has_key?(building_stats.actual_produces, subtotal_type) do %>
                      <div class={
                        [
                          "group relative flex flex-row items-center gap-[2px] w-16 cursor-help",
                          append_class
                        ]
                      }>
                        <img
                          src={"/images/" <> to_string(subtotal_type) <> ".svg"}
                          alt={"total " <> to_string(subtotal_type)}
                          height="10"
                          width="10"
                        />
                        <%= if abs(Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.actual_produces[subtotal_type]) >= 10_000 do %>
                          <%= Number.SI.number_to_si(
                            Map.get(@city_stats.buildable_stats, building_type).operational *
                              building_stats.actual_produces[subtotal_type],
                            precision: 3,
                            trim: true
                          ) %>
                        <% else %>
                          <%= Number.Delimit.number_to_delimited(
                            round(
                              Map.get(@city_stats.buildable_stats, building_type).operational *
                                building_stats.actual_produces[subtotal_type]
                            )
                          ) %>
                        <% end %>
                        <div class="tooltip">
                          <%= if abs(Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.actual_produces[subtotal_type]) >= 10_000 do %>
                            <%= Number.SI.number_to_si(
                              Map.get(@city_stats.buildable_stats, building_type).operational *
                                building_stats.actual_produces[subtotal_type],
                              precision: 3,
                              trim: true
                            ) %> <%= subtotal_type %> generated
                          <% else %>
                            <%= Number.Delimit.number_to_delimited(
                              round(
                                Map.get(@city_stats.buildable_stats, building_type).operational *
                                  building_stats.actual_produces[subtotal_type]
                              )
                            ) %> <%= subtotal_type %> generated
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    <!-- required -->
                    <%= if !is_nil(building_stats.requires) && Map.has_key?(building_stats.requires, subtotal_type) do %>
                      <div class={
                        [
                          "group relative flex flex-row items-center gap-[2px] w-16 cursor-help",
                          append_class
                        ]
                      }>
                        <img
                          src={"/images/" <> to_string(subtotal_type) <> ".svg"}
                          alt={"total " <> to_string(subtotal_type)}
                          height="10"
                          width="10"
                        />
                        <%= if abs(Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.requires[subtotal_type]) >= 10_000 do %>
                          <%= Number.SI.number_to_si(
                            -Map.get(@city_stats.buildable_stats, building_type).operational *
                              building_stats.requires[subtotal_type],
                            precision: 3,
                            trim: true
                          ) %>
                        <% else %>
                          <%= Number.Delimit.number_to_delimited(
                            round(
                              -Map.get(@city_stats.buildable_stats, building_type).operational *
                                building_stats.requires[subtotal_type]
                            )
                          ) %>
                        <% end %>
                        <div class="tooltip">
                          <%= if abs(Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.requires[subtotal_type]) >= 10_000 do %>
                            <%= Number.SI.number_to_si(
                              Map.get(@city_stats.buildable_stats, building_type).operational *
                                building_stats.requires[subtotal_type],
                              precision: 3,
                              trim: true
                            ) %> consumed
                          <% else %>
                            <%= Number.Delimit.number_to_delimited(
                              round(
                                Map.get(@city_stats.buildable_stats, building_type).operational *
                                  building_stats.requires[subtotal_type]
                              )
                            ) %>
                          <% end %>
                          consumed
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <!-- pollution -->
                  <%= if !is_nil(building_stats.produces) && Map.has_key?(building_stats.produces, :pollution) do %>
                    <div class="group relative flex flex-row items-center text-violet-700 gap-[2px] w-16 cursor-help">
                      <img
                        src="/images/pollution.svg"
                        alt="total pollution"
                        height="10"
                        width="10"
                      />
                      <%= if is_number(building_stats.produces.pollution) do %>
                        <%= Number.SI.number_to_si(
                          round(
                            Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.produces.pollution
                          ),
                          precision: 3,
                          trim: true
                        ) %>
                      <% else %>
                        <%= if is_function(building_stats.produces.pollution, 1) do %>
                          <%= Number.SI.number_to_si(
                            round(
                              Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.produces.pollution.(@city_stats.total_citizens)
                            ),
                            precision: 3,
                            trim: true
                          ) %>
                        <% end %>
                      <% end %>
                      <div class="tooltip">
                        <%= if is_number(building_stats.produces.pollution) do %>
                          <%= Number.Delimit.number_to_delimited(
                            Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.produces.pollution
                          ) %> pollution generated
                        <% else %>
                          <%= if is_function(building_stats.produces.pollution, 1) do %>
                            <%= round(building_stats.produces.pollution.(100)) %> pollution generated per building per 100 citizens
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <!-- income and expenses -->
                  <%= if !is_nil(building_stats.requires) && Map.has_key?(building_stats.requires, :money) do %>
                    <div class=" group relative flex flex-row items-center text-red-700 gap-[2px] w-16 cursor-help">
                      <img
                        src="/images/money-off.svg"
                        alt="total expenses"
                        height="10"
                        width="10"
                      />
                      -<%= Number.SI.number_to_si(
                        round(
                          Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.requires.money
                        ),
                        precision: 3,
                        trim: true
                      ) %>
                      <div class="tooltip max-w-sm">
                        <%= Number.Delimit.number_to_delimited(
                          round(
                            Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.requires.money
                          )
                        ) %> running expenses
                      </div>
                    </div>
                  <% end %>
                  <%= if !is_nil(building_stats.produces) && Map.has_key?(building_stats.produces, :money) do %>
                    <div class=" group relative flex flex-row items-center text-green-700 gap-[2px] w-16 cursor-help">
                      <img
                        src="/images/money-fulfilled.svg"
                        alt="total income"
                        height="10"
                        width="10"
                      />
                      -<%= Number.SI.number_to_si(
                        round(
                          Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.produces.money
                        ),
                        precision: 3,
                        trim: true
                      ) %>
                      <div class="tooltip max-w-sm">
                        <%= Number.Delimit.number_to_delimited(
                          round(
                            Map.get(@city_stats.buildable_stats, building_type).operational * building_stats.produces.money
                          )
                        ) %> running income
                      </div>
                    </div>
                  <% end %>
                  <!-- workers -->
                  <%= if !is_nil(building_stats.requires) && Map.has_key?(building_stats.requires, :workers) do %>
                    <div class=" group relative flex flex-row items-center text-green-700 gap-[2px] w-16 cursor-help">
                      <img
                        src="/images/workers-fulfilled.svg"
                        alt="total workers"
                        height="10"
                        width="10"
                      />
                      <%= Map.get(@city_stats.buildable_stats, building_type).operational *
                        building_stats.requires.workers.count %>/<%= building_stats.requires.workers.level %>
                      <div class="tooltip max-w-sm">
                        <%= Map.get(@city_stats.buildable_stats, building_type).operational *
                          building_stats.requires.workers.count %> workers employed at level <%= building_stats.requires.workers.level %>
                      </div>
                    </div>
                    <div class=" group relative flex flex-row items-center text-green-700 gap-[2px] w-16 cursor-help">
                      <div>
                        <img
                          src="/images/money-fulfilled.svg"
                          alt="total workers"
                          height="10"
                          width="10"
                        />
                      </div>
                      <%= Number.SI.number_to_si(@operating_tax[building_type],
                        precision: 3,
                        trim: true
                      ) %>
                      <div class="tooltip max-w-sm">
                        $<%= Number.Delimit.number_to_delimited(@operating_tax[building_type]) %> tax income
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    <% end %>
    <%= if @is_user_mayor || @is_user_admin do %>
      <div class="flex flex-row gap-2">
        <button
          class="btn self-start my-8"
          phx-click="reset_city"
          phx-value-userid={@current_user.id}
          phx-throttle="100"
        >
          Reset city
        </button>
        <button
          class="btn self-start my-8"
          phx-click="reset_priorities"
          phx-value-userid={@current_user.id}
          phx-throttle="100"
        >
          Reset building operation order
        </button>
      </div>
    <% end %>
  </div>
  <!-- LOGS -->
  <div class="w-48 border-l grow border-neutral-800/10 px-3 flex flex-col lg:grow-0">
    <h2 class="text-base pt-2 pb-1">
      Logs
    </h2>
    <!-- LOGS CONTAINER -->
    <div class="divide-y divide-neutral-800/10 ">
      <!-- REGION -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Region
          </h3>
          <div class="tooltip w-40">
            The region this city is in.
          </div>
        </div>
        <div>
          <%= @city_stats.region %>
        </div>
      </div>
      <!-- CLIMATE -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Climate
          </h3>
          <div class="tooltip w-40">
            The climate this city is in.
          </div>
        </div>
        <div>
          <%= @city_stats.climate %>
        </div>
      </div>
      <!-- BIRTH LOGS -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Births
          </h3>
          <div class="tooltip w-40">
            Citizens will occasionally give birth.
          </div>
        </div>
        <div>
          <%= Number.SI.number_to_si(
            @city.logs_births,
            precision: 3,
            trim: true
          ) %>
        </div>
      </div>
      <!-- POLLUTION DEATHS -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Pollution deaths
          </h3>
          <div class="tooltip w-40">
            How many citizens have died from overpollution
          </div>
        </div>
        <%= if !is_nil(@city.logs_deaths_pollution) do %>
          <div>
            <%= Number.SI.number_to_si(
              @city.logs_deaths_pollution,
              precision: 3,
              trim: true
            ) %>
          </div>
        <% end %>
      </div>
      <!-- AGE DEATHS -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Age deaths
          </h3>
          <div class="tooltip w-40">
            Citizens die when they reach 10,000 days of age.
          </div>
        </div>
        <%= if !is_nil(@city.logs_deaths_age) do %>
          <div>
            <%= Number.SI.number_to_si(
              @city.logs_deaths_age,
              precision: 3,
              trim: true
            ) %>
          </div>
        <% end %>
      </div>
      <!-- HOUSING DEATHS -->
      <div class="flex flex-row items-center justify-between gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Housing deaths
          </h3>
          <div class="tooltip w-40">
            If a citizen runs out of housing and can't find any anywhere else, they'll die.
          </div>
        </div>
        <%= if !is_nil(@city.logs_deaths_housing) do %>
          <div>
            <%= Number.SI.number_to_si(
              @city.logs_deaths_housing,
              precision: 3,
              trim: true
            ) %>
          </div>
        <% end %>
      </div>
      <!-- EDUCATION -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Education upgrades
          </h3>

          <div class="tooltip w-40">
            This counts how many citizens have had their level upgraded from the education buildings.
          </div>
        </div>

        <%= for {edu_level, educated_citizens_count} <- @city.logs_edu do %>
          <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
            <span><%= edu_level %></span>
            <hr class="border-neutral-300 flex-1" />
            <span>
              <%= Number.SI.number_to_si(
                educated_citizens_count,
                precision: 3,
                trim: true
              ) %>
            </span>
          </div>
        <% end %>
      </div>
      <!-- SENT RESOURCES -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Resources Sent
          </h3>

          <div class="tooltip w-40">
            Resources this city has sent to others.
          </div>
        </div>

        <%= for {city, resource_map} <- @city.logs_sent do %>
          <div class="flex flex-col justify-between gap-2 my-0 leading-none">
            <span><a class="underline" href={"/city/#{city}"}><%= city %></a></span>
             <%= for {resource, amount} <- resource_map do %>
                <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
                  <span><%= resource %></span>
                  <hr class="border-neutral-300 flex-1" />
                  <span>
                    <%= Number.SI.number_to_si(
                      amount,
                      precision: 3,
                      trim: true
                    ) %>
                  </span>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
      <!-- RECEIEVED RESOURCES -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Resources Receieved
          </h3>

          <div class="tooltip w-40">
            Resources this city has received from others.
          </div>
        </div>

        <%= for {city, resource_map} <- @city.logs_received do %>
          <div class="flex flex-col justify-between gap-2 my-0 leading-none">
            <span><a class="underline" href={"/city/#{city}"}><%= city %></a></span>
             <%= for {resource, amount} <- resource_map do %>
                <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
                  <span><%= resource %></span>
                  <hr class="border-neutral-300 flex-1" />
                  <span>
                    <%= Number.SI.number_to_si(
                      amount,
                      precision: 3,
                      trim: true
                    ) %>
                  </span>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>

      <!-- ATTACKS -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Attacks
          </h3>

          <div class="tooltip w-40">
            This shows cities that have attacked your city.
          </div>
        </div>

        <%= for {attacking_town, attack_counts} <- @city.logs_attacks do %>
          <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
            <span><%= attacking_town %></span>
            <hr class="border-neutral-300 flex-1" />
            <span><%= Number.Delimit.number_to_delimited(attack_counts) %></span>
          </div>
        <% end %>
      </div>
      <!-- HOUSING_EMIGRATION -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Housing Emigration
          </h3>

          <div class="tooltip w-40">
            Citizens by level who left because there was no housing.
          </div>
        </div>

        <%= for {edu_level, emigration_count} <- @city.logs_emigration_housing do %>
          <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
            <span><%= edu_level %></span>
            <hr class="border-neutral-300 flex-1" />
            <span>
              <%= Number.SI.number_to_si(
                emigration_count,
                precision: 3,
                trim: true
              ) %>
            </span>
          </div>
        <% end %>
      </div>
      <!-- TAX_EMIGRATION -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Tax Emigration
          </h3>

          <div class="tooltip w-40">
            Citizens by level who left because the taxes were too high.
          </div>
        </div>

        <%= for {edu_level, emigration_count} <- @city.logs_emigration_taxes do %>
          <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
            <span><%= edu_level %></span>
            <hr class="border-neutral-300 flex-1" />
            <span>
              <%= Number.SI.number_to_si(
                emigration_count,
                precision: 3,
                trim: true
              ) %>
            </span>
          </div>
        <% end %>
      </div>
      <!-- JOB_EMIGRATION -->
      <div class="flex flex-col gap-2 py-1">
        <div class="group relative inline-block">
          <h3 class="text-l first-letter:uppercase decoration-1	underline underline-offset-4 cursor-help decoration-neutral-800/40 decoration-dotted	">
            Job Emigration
          </h3>

          <div class="tooltip w-40">
            Citizens by level who left because there wasn't a job at the right level.
          </div>
        </div>

        <%= for {edu_level, emigration_count} <- @city.logs_emigration_jobs do %>
          <div class="flex flex-row items-center justify-between gap-2 my-0 leading-none">
            <span><%= edu_level %></span>
            <hr class="border-neutral-300 flex-1" />
            <span>
              <%= Number.SI.number_to_si(
                emigration_count,
                precision: 3,
                trim: true
              ) %>
            </span>
          </div>
        <% end %>
      </div>
      <!-- ^End of individual logs sections -->
    </div>
    <!-- End of logs inner container -->
  </div>
  <!-- End of logs container -->
</div>
