/*
@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-thin.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/ttf/iosevka-etoile-thinoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-thinoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src: url("/fonts/ttf/iosevka-etoile-thinoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-thinoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-thinitalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-thinitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-extralight.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extralight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/ttf/iosevka-etoile-extralightoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extralightoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url("/fonts/ttf/iosevka-etoile-extralightoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extralightoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-extralightitalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extralightitalic.woff2") format("woff2");
}
*/

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-light.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-light.woff2") format("woff2");
}

/*
@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-lightitalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-lightitalic.woff2") format("woff2");
}
*/

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-regular.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-regular.woff2") format("woff2");
}
/*
@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-italic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-italic.woff2") format("woff2");
}
*/

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-medium.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-medium.woff2") format("woff2");
}

/*
@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-mediumitalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-mediumitalic.woff2") format("woff2");
}
*/

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-semibold.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-semibold.woff2") format("woff2");
}

/*
@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-semibolditalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-semibolditalic.woff2") format("woff2");
}


@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-bold.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/ttf/iosevka-etoile-boldoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-boldoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src: url("/fonts/ttf/iosevka-etoile-boldoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-boldoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-bolditalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-extrabold.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/ttf/iosevka-etoile-extraboldoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extraboldoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src: url("/fonts/ttf/iosevka-etoile-extraboldoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extraboldoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-extrabolditalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-extrabolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/ttf/iosevka-etoile-heavy.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/ttf/iosevka-etoile-heavyoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-heavyoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src: url("/fonts/ttf/iosevka-etoile-heavyoblique.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-heavyoblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/ttf/iosevka-etoile-heavyitalic.ttf") format("truetype"),
    url("/fonts/woff2/iosevka-etoile-heavyitalic.woff2") format("woff2");
}
*/

/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .btn {
    @apply transition-colors hover:bg-amber-100 active:bg-amber-200 focus:outline-none focus:bg-amber-100 focus:ring focus:ring-neutral-800;
  }

  .tooltip {
    @apply pointer-events-none group-hover:opacity-100 transition-opacity bg-amber-50 border border-neutral-800 z-10 p-2 absolute top-8 left-0 opacity-0 max-w-sm;
  }

  .cell {
    @apply relative border border-neutral-800/25 leading-none h-6 w-28 px-1;
  }

  .top_td {
    @apply align-bottom pr-2 max-w-full;
  }
}

* {
  font-family: "Iosevka Etoile Web", "Courier New", monospace;
  font-weight: 300;
  box-sizing: border-box;
}

::selection {
  background: #f59e0b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f59e0b; /* Gecko Browsers */
}

.liveview-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-error {
  opacity: 0.25;
  cursor: not-allowed;
}

.phx-error * {
  pointer-events: none;
}

button,
select,
input[type="button"],
input[type="text"],
input[type="reset"],
input[type="password"],
input[type="submit"] {
  border: 0.1rem solid #606c76;
  background: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}
