/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .btn {
    @apply transition-colors hover:bg-amber-100 active:bg-amber-200 focus:outline-none focus:bg-amber-100 focus:ring focus:ring-neutral-800;
  }

  .tooltip {
    @apply pointer-events-none group-hover:opacity-100 transition-opacity bg-amber-50 border border-neutral-800 z-10 p-2 absolute top-8 left-0 opacity-0;
  }

  .cell {
    @apply relative border border-neutral-800/25 leading-none h-6 w-24 px-1;
  }
}

* {
  font-family: "Courier New", monospace;
  box-sizing: border-box;
}

::selection {
  background: #f59e0b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f59e0b; /* Gecko Browsers */
}

.liveview-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-error {
  opacity: 0.25;
  cursor: not-allowed;
}

.phx-error * {
  pointer-events: none;
}

button,
select,
input[type="button"],
input[type="text"],
input[type="reset"],
input[type="password"],
input[type="submit"] {
  border: 0.1rem solid #606c76;
  background: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}
