/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .btn-building {
    @apply hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 font-bold py-2 px-4 rounded;
  }
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-error {
  opacity: 0.25;
  cursor: not-allowed;
}

.phx-error * {
  pointer-events: none;
}

.building_enabled {
  display: inline-block;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  background-color: rgb(34, 194, 28);
}

.building_disabled {
  display: inline-block;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  background-color: rgb(179, 19, 19);
}

.building {
  border-radius: 4px;
  border: 1px solid #606c76;
  display: inline-block;
  padding: 2px;
}

.upgrades {
  border: 1px solid #606c76;
  display: inline-block;
  padding: 2px;
}

.upgrade {
  border: 1px solid #606c76;
  display: inline-block;
  padding: 2px;
}

button,
select,
input[type="button"],
input[type="text"],
input[type="reset"],
input[type="password"],
input[type="submit"] {
  border: 0.1rem solid #606c76;
  background: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  white-space: nowrap;
}
