<%# if a user is logged in, live_render DashboardLive %>
<%= if @current_user do %>
  <%= live_render(@conn,
                  MayorGameWeb.DashboardLive,
                  session: %{"current_user" => @current_user}) %>

      <%= live_render(@conn,
                  MayorGameWeb.CityCreationForm,
                  session: %{"current_user" => @current_user}) %>

<% else %>
 <%= live_render(@conn,
                  MayorGameWeb.DashboardLive) %>

<% end %>
