<%# if a user is logged in %>
<%= if @current_user do %>
  <%= live_render(@conn,
                  MayorGameWeb.DashboardLive,
                  session: %{"current_user" => @current_user}) %>
<% end %>
