<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJE5DTH2CE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XJE5DTH2CE');
  </script>

    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>fragile.city</title>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script phx-track-static defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body class="text-sm bg-amber-50 h-screen flex flex-col">
    <header class="border-b border-neutral-800 bg-amber-50 w-screen z-20 py-1 px-2">
        <nav role="navigation">
          <ul class="flex flex-row space-x-3 items-center h-full">
            <li class="hover:underline mr-auto"><a href="<%= Routes.static_path(@conn, "/") %>">fragile.city</a></li>
            <li class="hover:underline"><a href="patreon.com/user?u=88349213" target="_blank">Patreon</a></li>
            <li class="hover:underline"><a href="https://fragile-city.notion.site/Intro-25d07a8aade7459a9b2a93429170b29b" target="_blank">FAQ</a></li>
            <%= if Pow.Plug.current_user(@conn) do %>

              <li class="hover:underline"><a href="https://discord.gg/mnVnRdV3k7" target="_blank">Discord</a></li>
              <li class="hover:underline"><%= link "Profile", to: Routes.pow_registration_path(@conn, :edit) %></li>
              <li class="hover:underline"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li class="hover:underline"><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></li>
              <li class="hover:underline"><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="hover:underline"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
    </header>
    <main role="main" class="flex-grow overflow-y-scroll" >
      <%= @inner_content %>
    </main>
  </body>

</html>
